extends layout

block content

  .container
      .jumbotron.text-center
        h1 Rest Race
        div 
          | logged in as:
          | #{user.local.email}
        a.btn.btn-default(href='/cms/races')
          span.fa.fa-beer
          |  Races    
        if(isAdmin)  
          a.btn.btn-default(href='/cms/users')
            span.fa.fa-address-book
            |  Users
        a.btn.btn-default(href='/profile')
          span.fa.fa-user
          |  Profile 