extends layout

block content

  .container
      .jumbotron.text-center
        h1 Rest Race
        div 
          | logged in as:
          if user.local.email
            b #{user.local.email}
          else if user.facebook.email
            b #{user.facebook.email}
        if(isAdmin)
          a.btn.btn-default(href='/cms/races')
            span.fa.fa-beer
            |  Races    
        a.btn.btn-default(href='/cms/joinedraces')
          span.fas.fa-clipboard-list
          |  Participate      
        if(isAdmin)  
          a.btn.btn-default(href='/cms/users')
            span.fa.fa-address-book
            |  Users
        a.btn.btn-default(href='/profile')
          span.fa.fa-user
          |  Profile 