doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    style.
        body        { word-wrap:break-word; padding-top:40px;}
        .facebook { background-color:#4267b2; }
        .facebook:hover { background-color: #365899; }
        .twitter { background-color:#1da1f2; }
        .twitter:hover { background-color:#006dbf; }
   
  body
    block content